.gender{
    display: flex;
    align-items: center;
    gap: 5px;
}
.genderContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.error{
    color: red;
}

.modal{
    background-color: var(--bg-color1);
    color: var(--color1);
}