.outletContainer{
    padding: 10px 50px;
    position: relative;
    top: 23vh;
    height: 480px;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      
    &::-webkit-scrollbar-thumb {
        background: #888;
      }
      
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
}
.navlinks{
    position: fixed;
    width: 100%;
    top:7vh;
    z-index: 100;
    background-color: var(--bg-color1);
}
